/*
Question 28: High freight charges - last year
------------------------------------------------

Get the the 3 ship countries with the highest average freight charges but this time within
the last 12 months of order data, using as the end date the last OrderDate in Orders
*/

SELECT TOP 3 shipcountry,
             averagefrieght = Avg(freight)
FROM   orders
--where year(orderdate) = 2015
WHERE  orderdate >= Dateadd(year, -1, (SELECT Max(orderdate)
                                       FROM   orders))
GROUP  BY shipcountry
ORDER  BY averagefrieght DESC 