/*
Question 30: Customers with no orders
------------------------------------------------

Show the customers that have never actually placed an order.
*/

SELECT c.customerid,
       o.customerid
FROM   [SQL_Problems].[dbo].[customers] c
       LEFT JOIN [SQL_Problems].[dbo].[orders] o
              ON c.customerid = o.customerid
WHERE  o.customerid IS NULL