/*
Question 38: Orders - accidental double-entry
--------------------------------------------------------------------------------------------------------------------------

Show all the OrderIDs with line items that match this (from accidental entry of the same line item twice on an order of quantity
60) in order of OrderID
*/

-- Use Having if using an aggregate function as a filter rather than using Where
SELECT orderid,
       quantity,
       Count(*)
FROM   [SQL_Problems].[dbo].[orderdetails]
WHERE  quantity >= 60
GROUP  BY orderid,
          quantity
HAVING Count(*) >= 2
ORDER  BY quantity 