/*
Question 39: Orders - accidental double-entry details
--------------------------------------------------------------------------------------------------------------------------

Show all the details (see question 38) with line items that match this (from accidental entry of the same line item twice on an order of quantity
60) in order of OrderID
*/

-- Use Having if using an aggregate function as a filter rather than using Where
WITH cte_double_entry (orderid, counting)
     AS (SELECT DISTINCT orderid,
                         Count(*) AS counting
         FROM   [SQL_Problems].[dbo].[orderdetails]
         WHERE  quantity >= 60
         GROUP  BY orderid,
                   quantity
         HAVING Count(*) >= 2)
SELECT oda.orderid,
       productid,
       unitprice,
       quantity,
       discount
FROM   cte_double_entry AS oda
       LEFT JOIN (SELECT [orderid],
                         [productid],
                         [unitprice],
                         [quantity],
                         [discount]
                  FROM   [SQL_Problems].[dbo].[orderdetails]) AS od
              ON oda.orderid = od.orderid 



